body{
    background-color: #FFFCDD;
}

.text-decoration {
    color: #513B05;
    font-family:'Montserrat','Courier New', Courier, monospace;
}

.header-decoration {
    color: #513B05;
    font-weight: bold;
    font-family:'Syncopate','Courier New', Courier, monospace;
}

.image-view {
    border-radius: 80%;
    box-shadow: 0px 0px 6px 8px rgba(255, 174, 0, 0.2);
}

.main-header {
    max-width: var(--content-width);
}

/* .menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu li {
    display: flex;
}

a {
    text-decoration: none;
}

.menu a {
    display: flex;
}

.menu a:hover {
    color:black;
    transition: 1s;
    transform: scale(1.1);
} */


hr.rounded { 
    width: 90%;
    height: 2px;
    background: #FF752B;
    border: 0;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-animation:hover {
    transition: 1s;
    transform: scale(1.4);
}
